html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-family: "Bit-Sixteen", !important;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  margin: 0;
  font-family: "Bit-Sixteen";
  line-height: 1.2;
  background-color: #ffffff;
  color: #000000;
  overflow: hidden;
}

html,
body {
  margin: 0;
  background-color: transparent;
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(10px);
  overscroll-behavior: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

img,
picture {
  max-width: 100%;
  display: block;
}

button {
  cursor: pointer;
  background: none;
  border: none;
}

input,
textarea,
select,
button {
  font: inherit;
  color: inherit;
}

textarea {
  resize: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-display: block;
  font-family: "Bit-Hud";
  font-style: normal;
  src: url("src/assets/fonts/Bit-Hud.woff2");
}

@font-face {
  font-display: block;
  font-family: "Press-Start";
  font-style: normal;
  src: url("src/assets/fonts/Press-Start.woff2");
}

@font-face {
  font-display: block;
  font-family: "Bit-Sixteen";
  font-style: normal;
  src: url("src/assets/fonts/Bit-Sixteen.woff2");
}